.container{

}

/* GENDER STARTS */
#genderChoose,
label {
    user-select: none;
}

#male,
input[type="radio"] {
    display: none;
}

#female,
input[type="radio"] {
    display: none;
}


input[type="radio"]+label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: black;
    text-shadow: 0 1px 0 rgba(105, 56, 56, 0.1);
    font-weight: bold;
    background-color: white;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}

input[type="radio"]:checked+label {
    color: rgb(0, 0, 141);
    background-color: #feb236;
}

input[type="radio"]+label {
    padding: 10px 25px;
    border-radius: 20px;
}
/* GENDER ENDS */

.labelHeader{
display: flex;
font-size: 1.1rem;
font-weight: 700;
margin-top: 1.1rem;
}
/* .schoolOption{
    text-align: left;
} */