/* TOP NAVLINKS CSS STYLE STARTING */
.navLinks{
    display: flex;
    max-width: 670px;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
    list-style-type: none;
}
.underline:hover{
text-decoration: none; 
}

.menuNav{
    color: red;
    border: 1px solid black;

}
.menuNav:hover{
    text-decoration: none;
}

.noUnderline{
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}



.noUnderline:hover{
    text-decoration: none;
}
